<h1> I am a game form </h1>
<ul id="game-form-status">
  <li><a ui-sref-active="active" ui-sref=".teams">Teams</a></li>
  <li><a ui-sref-active="active" ui-sref=".players">Players</a></li>
  <li><a ui-sref-active="active" ui-sref=".timing">Timing</a></li>
  <li><a ui-sref-active="active" ui-sref=".refs">Refs</a></li>
  <li><a ui-sref-active="active" ui-sref=".summary">PLAY</a></li>
</ul>

<ng-form id="new-game-form">
  <div id="form-nested-view" ui-view></div>
  <!-- SUBMIT BUTTON HERE TO SHOW/HIDE BASED ON VALIDATION -->
</ng-form>

<p>
{{ NewGame.formParams }}
</p>