<label>Team 1 are:<br>
  <select ng-options="team.name for team in NewGame.allTeams" ng-model="NewGame.formParams.team1" ng-change="NewGame.getPlayers1(NewGame.formParams.team1.id)"></select>
</label>
<button ng-click="newTeamForm = !newTeamForm">+</button>
<br>


<br>
<br>
Vs
<ng-form name="newTeam" ng-show="newTeamForm">
  <label>New Team name:
    <input type="text" ng-model="NewGame.newTeam.team.name"></label>
  <label>New Team city:
    <input type="text" ng-model="NewGame.newTeam.team.city"></label>
  <button type="submit" ng-click="NewGame.addTeam()">add</button><br/>
</ng-form>
<br>
<br>

<label>Team 2 are:<br>
   <select ng-options="team.name for team in NewGame.allTeams" ng-model="NewGame.formParams.team2" ng-change="NewGame.getPlayers2()"></select>
</label>
<button ng-click="newTeamForm = !newTeamForm">+</button>
<br>

</div>