<p ng-controller="TeamCtrl as team">{{ ctrl.formParams.team1.name }} Line-up:</p>
<input name="team1player1" type="text" ng-model="ctrl.formParams.team1.players.p1">
<input name="team1player2" type="text" ng-model="ctrl.formParams.team1.players.p2">
<input name="team1player3" type="text" ng-model="ctrl.formParams.team1.players.p3">

<p>{{ ctrl.formParams.team2.name }} Line-up:</p>
<input name="team2player1" type="text" ng-model="ctrl.formParams.team2.players.p1">
<input name="team2player2" type="text" ng-model="ctrl.formParams.team2.players.p2">
<input name="team2player3" type="text" ng-model="ctrl.formParams.team2.players.p3">

