
<h2>{{ GamePlay.gameTime }} Minute Game.</h2>

<br>
<h1><timer end-time="GamePlay.gameTimePreped">{{minutes}} : {{seconds}} : {{millis | limitTo : -3 }}</timer></h1>
<br>

<!-- <timer interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis | limitTo : -3 }} milliseconds.</timer><br>
<timer interval="100">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br>
<timer interval="10">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br>
<timer interval="1">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br> -->