<h2>{{ GamePlay.title }}</h2>
<h1>{{ GamePlay.gameTime }} Minute Game.</h1>

<br>
<timer end-time="GamePlay.gameTimePreped">{{minutes}} minutes, {{seconds}} seconds, {{millis | limitTo : -3 }}</timer>
<br>

<!-- <timer interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis | limitTo : -3 }} milliseconds.</timer><br>
<timer interval="100">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br>
<timer interval="10">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br>
<timer interval="1">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer><br> -->